.signeddot{
background-color:red;
float:right;
width:23px;
height:23px;
border-radius:30px;
}
.tabbar-label {
font-size: 9px;
} 
.item-title-row{
color: black;
}
.get{
background-color: #3E84F6;
width: 117px;
height: 28px; 
border-radius: 30px;
text-align: center;
line-height: 27.5px;
font-weight: bold;
font-size: 1.17em;
box-sizing: border-box;
color: white;
display: inline-block;
vertical-align: text-bottom;
margin-left:6px;
}
.screenshot{
display:flex;
overflow-x: auto;
-webkit-overflow-scrolling:touch;
      }
.screenshot div{
flex-shrink:0;
width:250px;
height:515px;
      }
.screenshot img{
width:230px;
border-radius:20px;
margin:5px;
      }